<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"/>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>PiggyBack</title>
</head>
<body>
<!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
              <!-- Title -->
              <span class="mdl-layout-title">PiggyBack</span>
              <!-- Add spacer, to align navigation to the right -->
              <div class="mdl-layout-spacer"></div>
              <!-- Navigation. We hide it in small screens. -->
              <nav class="mdl-navigation">
                  <a class="mdl-navigation__link" href="/">Login</a>
                  <a class="mdl-navigation__link" href="profile">Profile</a>
              </nav>
          </div>
      </header>
      <div class="mdl-layout__drawer">
          <span class="mdl-layout-title">PiggyBack</span>
          <nav class="mdl-navigation">
              <a class="mdl-navigation__link" href="/">Login</a>
              <a class="mdl-navigation__link" href="profile">Profile</a>
          </nav>
      </div>
      <main class="mdl-layout__content">
          <div class="page-content" style="text-align: center">
              <div style="margin: 30px auto; width: 30%; box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);">
                  <br>
                  <h3>Sign Up for PiggyBack!</h3>
                  <h6>Get started by answering a few questions:</h6>
                  <form>
                      <div class=" mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <label class="mdl-textfield__label" for="name">Name</label>
                          <input class="mdl-textfield__input" type="text" name="name" id="name">
                      </div>
                      <br>
                      <div class=" mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <label class="mdl-textfield__label" for="name">Phone</label>
                          <input class="mdl-textfield__input" type="text" name="phone" id="phone">
                      </div>
                      <br>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <label class="mdl-textfield__label" for="email">Email</label>
                          <input class="mdl-textfield__input" type="text" name="email" id="email">
                      </div>
                      <br>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <label class="mdl-textfield__label" for="password">Password</label>
                          <input class="mdl-textfield__input" type="text" name="password" id="password">
                      </div>
                      <br>
                     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <label class="mdl-textfield__label" for="password">Street</label>
                          <input class="mdl-textfield__input" type="text" name="street" id="street">
                     </div>
                     <br>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <label class="mdl-textfield__label" for="password">City</label>
                          <input class="mdl-textfield__input" type="text" name="city" id="city">
                     </div>
                     <br>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <label class="mdl-textfield__label" for="password">State</label>
                          <input class="mdl-textfield__input" type="text" name="state" id="state">
                     </div>
                      <br>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <label class="mdl-textfield__label" for="password">Zip</label>
                          <input class="mdl-textfield__input" type="text" name="zip" id="zip">
                     </div>
                      <br>
                     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <label class="mdl-textfield__label" for="password">Do you own a car? (Y/N)</label>
                          <input class="mdl-textfield__input" type="text" name="car" id="car">
                     </div>
                     <br>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <label class="mdl-textfield__label" for="password">If you have a car, what is the make?</label>
                          <input class="mdl-textfield__input" type="text" name="car_make" id="car_make">
                     </div>
                      <br>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <label class="mdl-textfield__label" for="password">If you have a car, what is the model?</label>
                          <input class="mdl-textfield__input" type="text" name="car_model" id="car_model">
                     </div>
                      <br>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="margin-top: 3%; margin-bottom: 5%">
                      Create Account
                    </button>

                  </form>
              </div>
          </div>
      </main>
  </div>
</body>
</html>
