<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <style>
        body { font-family: 'Roboto', sans-serif; }
        ul { display: inline-block; text-align: left; }
    </style>

    <title>Title</title>
</head>
<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">PiggyBack</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="/logout">Logout</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">PiggyBack</span>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/logout">Logout</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div style='text-align: center;'>
                <h3 style="text-decoration: underline; text-underline-offset: 50%">{{ name }}'s Profile</h3>
                <ul style="list-style-type: square">
					{% for key, value in profile.items() %}
						<li><h5>{{key}} {{value}}</h5></li>
					{% endfor %}
                    <br>
                </ul>
                <br>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                  Return Home
                </button>
            </div>
        </div>
    </main>
</div>
</body>
</html>